<h3>{{ leyenda }}</h3>

<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-danger" type="button" (click)="cambiarValor(-5)"><i class="material-icons">
      remove
      </i></button>
  </span>
  <input #txtProgress type="number" name="progreso" class="form-control" [value]="percent" [(ngModel)]="percent" (ngModelChange)="changes($event)" min="0" max="100">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)="cambiarValor(+5)"><i class="material-icons">
      add
      </i></button>
  </span>
</div>
